/* HELVETICA NEUE WEB FONTS */

@font-face {
    font-family: 'Hev-Bd';
    src: url('helveticaneueltcom-bd.eot');
    src: url('helveticaneueltcom-bd.eot') format('embedded-opentype'),
         url('helveticaneueltcom-bd.woff') format('woff'),
         url('helveticaneueltcom-bd.ttf') format('truetype'),
         url('helveticaneueltcom-bd.svg#HelveticaNeueLTCom75Bold') format('svg');
}

@font-face {
    font-family: 'Hev-BdCn';
    src: url('helveticaneueltcom-bdcn.eot');
    src: url('helveticaneueltcom-bdcn.eot') format('embedded-opentype'),
         url('helveticaneueltcom-bdcn.woff') format('woff'),
         url('helveticaneueltcom-bdcn.ttf') format('truetype'),
         url('helveticaneueltcom-bdcn.svg#HelveticaNeueLTCom77BoldCondensed') format('svg');
}

@font-face {
    font-family: 'Hev-BdCnO';
    src: url('helveticaneueltcom-bdcno.eot');
    src: url('helveticaneueltcom-bdcno.eot') format('embedded-opentype'),
         url('helveticaneueltcom-bdcno.woff') format('woff'),
         url('helveticaneueltcom-bdcno.ttf') format('truetype'),
         url('helveticaneueltcom-bdcno.svg#HelveticaNeueLTCom77BoldCondensedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-BdEx';
    src: url('helveticaneueltcom-bdex.eot');
    src: url('helveticaneueltcom-bdex.eot') format('embedded-opentype'),
         url('helveticaneueltcom-bdex.woff') format('woff'),
         url('helveticaneueltcom-bdex.ttf') format('truetype'),
         url('helveticaneueltcom-bdex.svg#HelveticaNeueLTCom73BoldExtended') format('svg');
}

@font-face {
    font-family: 'Hev-BdExO';
    src: url('helveticaneueltcom-bdexo.eot');
    src: url('helveticaneueltcom-bdexo.eot') format('embedded-opentype'),
         url('helveticaneueltcom-bdexo.woff') format('woff'),
         url('helveticaneueltcom-bdexo.ttf') format('truetype'),
         url('helveticaneueltcom-bdexo.svg#HelveticaNeueLTCom73BoldExtendedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-BdIt';
    src: url('helveticaneueltcom-bdit.eot');
    src: url('helveticaneueltcom-bdit.eot') format('embedded-opentype'),
         url('helveticaneueltcom-bdit.woff') format('woff'),
         url('helveticaneueltcom-bdit.ttf') format('truetype'),
         url('helveticaneueltcom-bdit.svg#HelveticaNeueLTCom76BoldItalic') format('svg');
}

@font-face {
    font-family: 'Hev-BdOu';
    src: url('helveticaneueltcom-bdou.eot');
    src: url('helveticaneueltcom-bdou.eot') format('embedded-opentype'),
         url('helveticaneueltcom-bdou.woff') format('woff'),
         url('helveticaneueltcom-bdou.ttf') format('truetype'),
         url('helveticaneueltcom-bdou.svg#HelveticaNeueLTCom75BoldOutline') format('svg');
}

@font-face {
    font-family: 'Hev-Blk';
    src: url('helveticaneueltcom-blk.eot');
    src: url('helveticaneueltcom-blk.eot') format('embedded-opentype'),
         url('helveticaneueltcom-blk.woff') format('woff'),
         url('helveticaneueltcom-blk.ttf') format('truetype'),
         url('helveticaneueltcom-blk.svg#HelveticaNeueLTCom95Black') format('svg');
}

@font-face {
    font-family: 'Hev-BlkCn';
    src: url('helveticaneueltcom-blkcn.eot');
    src: url('helveticaneueltcom-blkcn.eot') format('embedded-opentype'),
         url('helveticaneueltcom-blkcn.woff') format('woff'),
         url('helveticaneueltcom-blkcn.ttf') format('truetype'),
         url('helveticaneueltcom-blkcn.svg#HelveticaNeueLTCom97BlackCondensed') format('svg');
}

@font-face {
    font-family: 'Hev-BlkCnO';
    src: url('helveticaneueltcom-blkcno.eot');
    src: url('helveticaneueltcom-blkcno.eot') format('embedded-opentype'),
         url('helveticaneueltcom-blkcno.woff') format('woff'),
         url('helveticaneueltcom-blkcno.ttf') format('truetype'),
         url('helveticaneueltcom-blkcno.svg#HelveticaNeueLTCom97BlackCondensedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-BlkEx';
    src: url('helveticaneueltcom-blkex.eot');
    src: url('helveticaneueltcom-blkex.eot') format('embedded-opentype'),
         url('helveticaneueltcom-blkex.woff') format('woff'),
         url('helveticaneueltcom-blkex.ttf') format('truetype'),
         url('helveticaneueltcom-blkex.svg#HelveticaNeueLTCom93BlackExtended') format('svg');
}

@font-face {
    font-family: 'Hev-BlkExO';
    src: url('helveticaneueltcom-blkexo.eot');
    src: url('helveticaneueltcom-blkexo.eot') format('embedded-opentype'),
         url('helveticaneueltcom-blkexo.woff') format('woff'),
         url('helveticaneueltcom-blkexo.ttf') format('truetype'),
         url('helveticaneueltcom-blkexo.svg#HelveticaNeueLTCom93BlackExtendedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-BlkIt';
    src: url('helveticaneueltcom-blkit.eot');
    src: url('helveticaneueltcom-blkit.eot') format('embedded-opentype'),
         url('helveticaneueltcom-blkit.woff') format('woff'),
         url('helveticaneueltcom-blkit.ttf') format('truetype'),
         url('helveticaneueltcom-blkit.svg#HelveticaNeueLTCom96BlackItalic') format('svg');
}

@font-face {
    font-family: 'Hev-Cn';
    src: url('helveticaneueltcom-cn.eot');
    src: url('helveticaneueltcom-cn.eot') format('embedded-opentype'),
         url('helveticaneueltcom-cn.woff') format('woff'),
         url('helveticaneueltcom-cn.ttf') format('truetype'),
         url('helveticaneueltcom-cn.svg#HelveticaNeueLTCom57Condensed') format('svg');
}

@font-face {
    font-family: 'Hev-CnO';
    src: url('helveticaneueltcom-cno.eot');
    src: url('helveticaneueltcom-cno.eot') format('embedded-opentype'),
         url('helveticaneueltcom-cno.woff') format('woff'),
         url('helveticaneueltcom-cno.ttf') format('truetype'),
         url('helveticaneueltcom-cno.svg#HelveticaNeueLTCom57CondensedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-Ex';
    src: url('helveticaneueltcom-ex.eot');
    src: url('helveticaneueltcom-ex.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ex.woff') format('woff'),
         url('helveticaneueltcom-ex.ttf') format('truetype'),
         url('helveticaneueltcom-ex.svg#HelveticaNeueLTCom53Extended') format('svg');
}

@font-face {
    font-family: 'Hev-ExO';
    src: url('helveticaneueltcom-exo.eot');
    src: url('helveticaneueltcom-exo.eot') format('embedded-opentype'),
         url('helveticaneueltcom-exo.woff') format('woff'),
         url('helveticaneueltcom-exo.ttf') format('truetype'),
         url('helveticaneueltcom-exo.svg#HelveticaNeueLTCom53ExtendedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-Hv';
    src: url('helveticaneueltcom-hv.eot');
    src: url('helveticaneueltcom-hv.eot') format('embedded-opentype'),
         url('helveticaneueltcom-hv.woff') format('woff'),
         url('helveticaneueltcom-hv.ttf') format('truetype'),
         url('helveticaneueltcom-hv.svg#HelveticaNeueLTCom85Heavy') format('svg');
}

@font-face {
    font-family: 'Hev-HvCn';
    src: url('helveticaneueltcom-hvcn.eot');
    src: url('helveticaneueltcom-hvcn.eot') format('embedded-opentype'),
         url('helveticaneueltcom-hvcn.woff') format('woff'),
         url('helveticaneueltcom-hvcn.ttf') format('truetype'),
         url('helveticaneueltcom-hvcn.svg#HelveticaNeueLTCom87HeavyCondensed') format('svg');
}

@font-face {
    font-family: 'Hev-HvCnO';
    src: url('helveticaneueltcom-hvcno.eot');
    src: url('helveticaneueltcom-hvcno.eot') format('embedded-opentype'),
         url('helveticaneueltcom-hvcno.woff') format('woff'),
         url('helveticaneueltcom-hvcno.ttf') format('truetype'),
         url('helveticaneueltcom-hvcno.svg#HelveticaNeueLTCom87HeavyCondensedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-HvEx';
    src: url('helveticaneueltcom-hvex.eot');
    src: url('helveticaneueltcom-hvex.eot') format('embedded-opentype'),
         url('helveticaneueltcom-hvex.woff') format('woff'),
         url('helveticaneueltcom-hvex.ttf') format('truetype'),
         url('helveticaneueltcom-hvex.svg#HelveticaNeueLTCom83HeavyExtended') format('svg');
}

@font-face {
    font-family: 'Hev-HvExO';
    src: url('helveticaneueltcom-hvexo.eot');
    src: url('helveticaneueltcom-hvexo.eot') format('embedded-opentype'),
         url('helveticaneueltcom-hvexo.woff') format('woff'),
         url('helveticaneueltcom-hvexo.ttf') format('truetype'),
         url('helveticaneueltcom-hvexo.svg#HelveticaNeueLTCom83HeavyExtendedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-HvIt';
    src: url('helveticaneueltcom-hvit.eot');
    src: url('helveticaneueltcom-hvit.eot') format('embedded-opentype'),
         url('helveticaneueltcom-hvit.woff') format('woff'),
         url('helveticaneueltcom-hvit.ttf') format('truetype'),
         url('helveticaneueltcom-hvit.svg#HelveticaNeueLTCom86HeavyItalic') format('svg');
}

@font-face {
    font-family: 'Hev-It';
    src: url('helveticaneueltcom-it.eot');
    src: url('helveticaneueltcom-it.eot') format('embedded-opentype'),
         url('helveticaneueltcom-it.woff') format('woff'),
         url('helveticaneueltcom-it.ttf') format('truetype'),
         url('helveticaneueltcom-it.svg#HelveticaNeueLTCom56Italic') format('svg');
}

@font-face {
    font-family: 'Hev-Lt';
    src: url('helveticaneueltcom-lt.eot');
    src: url('helveticaneueltcom-lt.eot') format('embedded-opentype'),
         url('helveticaneueltcom-lt.woff') format('woff'),
         url('helveticaneueltcom-lt.ttf') format('truetype'),
         url('helveticaneueltcom-lt.svg#HelveticaNeueLTCom45Light') format('svg');
}

@font-face {
    font-family: 'Hev-LtCn';
    src: url('helveticaneueltcom-ltcn.eot');
    src: url('helveticaneueltcom-ltcn.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ltcn.woff') format('woff'),
         url('helveticaneueltcom-ltcn.ttf') format('truetype'),
         url('helveticaneueltcom-ltcn.svg#HelveticaNeueLTCom47LightCondensed') format('svg');
}

@font-face {
    font-family: 'Hev-LtCnO';
    src: url('helveticaneueltcom-ltcno.eot');
    src: url('helveticaneueltcom-ltcno.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ltcno.woff') format('woff'),
         url('helveticaneueltcom-ltcno.ttf') format('truetype'),
         url('helveticaneueltcom-ltcno.svg#HelveticaNeueLTCom47LightCondensedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-LtEx';
    src: url('helveticaneueltcom-ltex.eot');
    src: url('helveticaneueltcom-ltex.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ltex.woff') format('woff'),
         url('helveticaneueltcom-ltex.ttf') format('truetype'),
         url('helveticaneueltcom-ltex.svg#HelveticaNeueLTCom43LightExtended') format('svg');
}

@font-face {
    font-family: 'Hev-LtExO';
    src: url('helveticaneueltcom-ltexo.eot');
    src: url('helveticaneueltcom-ltexo.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ltexo.woff') format('woff'),
         url('helveticaneueltcom-ltexo.ttf') format('truetype'),
         url('helveticaneueltcom-ltexo.svg#HelveticaNeueLTCom43LightExtendedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-LtIt';
    src: url('helveticaneueltcom-ltit.eot');
    src: url('helveticaneueltcom-ltit.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ltit.woff') format('woff'),
         url('helveticaneueltcom-ltit.ttf') format('truetype'),
         url('helveticaneueltcom-ltit.svg#HelveticaNeueLTCom46LightItalic') format('svg');
}

@font-face {
    font-family: 'Hev-Md';
    src: url('helveticaneueltcom-md.eot');
    src: url('helveticaneueltcom-md.eot') format('embedded-opentype'),
         url('helveticaneueltcom-md.woff') format('woff'),
         url('helveticaneueltcom-md.ttf') format('truetype'),
         url('helveticaneueltcom-md.svg#HelveticaNeueLTCom65Medium') format('svg');
}

@font-face {
    font-family: 'Hev-MdCn';
    src: url('helveticaneueltcom-mdcn.eot');
    src: url('helveticaneueltcom-mdcn.eot') format('embedded-opentype'),
         url('helveticaneueltcom-mdcn.woff') format('woff'),
         url('helveticaneueltcom-mdcn.ttf') format('truetype'),
         url('helveticaneueltcom-mdcn.svg#HelveticaNeueLTCom67MediumCondensed') format('svg');
}

@font-face {
    font-family: 'Hev-MdCnO';
    src: url('helveticaneueltcom-mdcno.eot');
    src: url('helveticaneueltcom-mdcno.eot') format('embedded-opentype'),
         url('helveticaneueltcom-mdcno.woff') format('woff'),
         url('helveticaneueltcom-mdcno.ttf') format('truetype'),
         url('helveticaneueltcom-mdcno.svg#HelveticaNeueLTCom67MediumCondensedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-MdEx';
    src: url('helveticaneueltcom-mdex.eot');
    src: url('helveticaneueltcom-mdex.eot') format('embedded-opentype'),
         url('helveticaneueltcom-mdex.woff') format('woff'),
         url('helveticaneueltcom-mdex.ttf') format('truetype'),
         url('helveticaneueltcom-mdex.svg#HelveticaNeueLTCom63MediumExtended') format('svg');
}

@font-face {
    font-family: 'Hev-MdExO';
    src: url('helveticaneueltcom-mdexo.eot');
    src: url('helveticaneueltcom-mdexo.eot') format('embedded-opentype'),
         url('helveticaneueltcom-mdexo.woff') format('woff'),
         url('helveticaneueltcom-mdexo.ttf') format('truetype'),
         url('helveticaneueltcom-mdexo.svg#HelveticaNeueLTCom63MediumExtendedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-MdIt';
    src: url('helveticaneueltcom-mdit.eot');
    src: url('helveticaneueltcom-mdit.eot') format('embedded-opentype'),
         url('helveticaneueltcom-mdit.woff') format('woff'),
         url('helveticaneueltcom-mdit.ttf') format('truetype'),
         url('helveticaneueltcom-mdit.svg#HelveticaNeueLTCom66MediumItalic') format('svg');
}

@font-face {
    font-family: 'Hev-Roman';
    src: url('helveticaneueltcom-roman.eot');
    src: url('helveticaneueltcom-roman.eot') format('embedded-opentype'),
         url('helveticaneueltcom-roman.woff') format('woff'),
         url('helveticaneueltcom-roman.ttf') format('truetype'),
         url('helveticaneueltcom-roman.svg#HelveticaNeueLTCom55Roman') format('svg');
}

@font-face {
    font-family: 'Hev-Th';
    src: url('helveticaneueltcom-th.eot');
    src: url('helveticaneueltcom-th.eot') format('embedded-opentype'),
         url('helveticaneueltcom-th.woff') format('woff'),
         url('helveticaneueltcom-th.ttf') format('truetype'),
         url('helveticaneueltcom-th.svg#HelveticaNeueLTCom35Thin') format('svg');
}

@font-face {
    font-family: 'Hev-ThCn';
    src: url('helveticaneueltcom-thcn.eot');
    src: url('helveticaneueltcom-thcn.eot') format('embedded-opentype'),
         url('helveticaneueltcom-thcn.woff') format('woff'),
         url('helveticaneueltcom-thcn.ttf') format('truetype'),
         url('helveticaneueltcom-thcn.svg#HelveticaNeueLTCom37ThinCondensed') format('svg');
}

@font-face {
    font-family: 'Hev-ThCnO';
    src: url('helveticaneueltcom-thcno.eot');
    src: url('helveticaneueltcom-thcno.eot') format('embedded-opentype'),
         url('helveticaneueltcom-thcno.woff') format('woff'),
         url('helveticaneueltcom-thcno.ttf') format('truetype'),
         url('helveticaneueltcom-thcno.svg#HelveticaNeueLTCom37ThinCondensedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-ThEx';
    src: url('helveticaneueltcom-thex.eot');
    src: url('helveticaneueltcom-thex.eot') format('embedded-opentype'),
         url('helveticaneueltcom-thex.woff') format('woff'),
         url('helveticaneueltcom-thex.ttf') format('truetype'),
         url('helveticaneueltcom-thex.svg#HelveticaNeueLTCom33ThinExtended') format('svg');
}

@font-face {
    font-family: 'Hev-ThExO';
    src: url('helveticaneueltcom-thexo.eot');
    src: url('helveticaneueltcom-thexo.eot') format('embedded-opentype'),
         url('helveticaneueltcom-thexo.woff') format('woff'),
         url('helveticaneueltcom-thexo.ttf') format('truetype'),
         url('helveticaneueltcom-thexo.svg#HelveticaNeueLTCom33ThinExtendedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-ThIt';
    src: url('helveticaneueltcom-thit.eot');
    src: url('helveticaneueltcom-thit.eot') format('embedded-opentype'),
         url('helveticaneueltcom-thit.woff') format('woff'),
         url('helveticaneueltcom-thit.ttf') format('truetype'),
         url('helveticaneueltcom-thit.svg#HelveticaNeueLTCom36ThinItalic') format('svg');
}

@font-face {
    font-family: 'Hev-UltLt';
    src: url('helveticaneueltcom-ultlt.eot');
    src: url('helveticaneueltcom-ultlt.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ultlt.woff') format('woff'),
         url('helveticaneueltcom-ultlt.ttf') format('truetype'),
         url('helveticaneueltcom-ultlt.svg#HelveticaNeueLTCom25UltraLight') format('svg');
}

@font-face {
    font-family: 'Hev-UltLtCn';
    src: url('helveticaneueltcom-ultltcn.eot');
    src: url('helveticaneueltcom-ultltcn.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ultltcn.woff') format('woff'),
         url('helveticaneueltcom-ultltcn.ttf') format('truetype'),
         url('helveticaneueltcom-ultltcn.svg#HelveticaNeueLTCom27UltraLightCondensed') format('svg');
}

@font-face {
    font-family: 'Hev-UltLtCnO';
    src: url('helveticaneueltcom-ultltcno.eot');
    src: url('helveticaneueltcom-ultltcno.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ultltcno.woff') format('woff'),
         url('helveticaneueltcom-ultltcno.ttf') format('truetype'),
         url('helveticaneueltcom-ultltcno.svg#HelveticaNeueLTCom27UltraLightCondensedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-UltLtEx';
    src: url('helveticaneueltcom-ultltex.eot');
    src: url('helveticaneueltcom-ultltex.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ultltex.woff') format('woff'),
         url('helveticaneueltcom-ultltex.ttf') format('truetype'),
         url('helveticaneueltcom-ultltex.svg#HelveticaNeueLTCom23UltraLightExtended') format('svg');
}

@font-face {
    font-family: 'Hev-UltLtExO';
    src: url('helveticaneueltcom-ultltexo.eot');
    src: url('helveticaneueltcom-ultltexo.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ultltexo.woff') format('woff'),
         url('helveticaneueltcom-ultltexo.ttf') format('truetype'),
         url('helveticaneueltcom-ultltexo.svg#HelveticaNeueLTCom23UltraLightExtendedOblique') format('svg');
}

@font-face {
    font-family: 'Hev-UltLtIt';
    src: url('helveticaneueltcom-ultltit.eot');
    src: url('helveticaneueltcom-ultltit.eot') format('embedded-opentype'),
         url('helveticaneueltcom-ultltit.woff') format('woff'),
         url('helveticaneueltcom-ultltit.ttf') format('truetype'),
         url('helveticaneueltcom-ultltit.svg#HelveticaNeueLTCom26UltraLightItalic') format('svg');
}

@font-face {
    font-family: 'Hev-XBlkCn';
    src: url('helveticaneueltcom-xblkcn.eot');
    src: url('helveticaneueltcom-xblkcn.eot') format('embedded-opentype'),
         url('helveticaneueltcom-xblkcn.woff') format('woff'),
         url('helveticaneueltcom-xblkcn.ttf') format('truetype'),
         url('helveticaneueltcom-xblkcn.svg#HelveticaNeueLTCom107ExtraBlackCondensed') format('svg');
}

@font-face {
    font-family: 'Hev-XBlkCnO';
    src: url('helveticaneueltcom-xblkcno.eot');
    src: url('helveticaneueltcom-xblkcno.eot') format('embedded-opentype'),
         url('helveticaneueltcom-xblkcno.woff') format('woff'),
         url('helveticaneueltcom-xblkcno.ttf') format('truetype'),
         url('helveticaneueltcom-xblkcno.svg#HelveticaNeueLTCom107ExtraBlackCondensedOblique') format('svg');
}